*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
}
#gameBoard{
    height: 90%;
    width: 100%;
    background-color: lavender;
}
#title{
    height:10%;
    width: 100%;
    background-color: greenyellow;
}
#cardArea{
    display: flex;
    height: 100%;
    width: 80%;
    background-color: palevioletred;
}
#turnArea{

}
.card{
    box-sizing: border-box;
    width: 20%;
    background-color: antiquewhite;
}
.card:before{
    content: '';
    display: block;
    padding-top: 100%;
}
.cardRed{
    background-color: red;
}
.cardBlue{
    background-color: blue;
}
.cardCivilian{
    background-color: darkgray;
}
.cardAssassin{
    background-color: black;
}